#menu {
	display: none;
}
#minimenu {
	display: none;
}
@media only screen and (max-device-width: 767px) {
        #menu {
                top: 5px;
                position: absolute;
                left: 5px;
                display: block;
                background-color: #FFF;
                border-radius: 5px;
                border: 1px solid #DDD;
                font-size: 2.8rem;
		text-decoration: none !important;
                padding:9px;
                padding-top: 11px;
                z-index: 10;
                height:45px;
                width: 45px;
        }
        #menu.mobileanimate {
                display: none !important;
        }
	body[class*="metro-pro"] #minimenu {
                right: 5px;
                top: 5px;
        }
        #minimenu {
                position: absolute;
                color: #FFF !important;
		display: block;
                font-size: 2.5rem;
                right: 0px;
                top: 0px;
		text-decoration: none;
        }
        .site-container {
                top: 0px !important;
                margin:0px;
                position: absolute !important;
                width: 100%;
        }
	.site-container > * {
                left: 0%;
                transition: all .2s linear 0s;
                position: relative;
        }
        .site-container.mobileanimate > * {
                transition: all .2s linear 0s;
                left: 50%;

        }
	body[class*="metro-pro"] .site-container {
                padding-top: 70px;
        }
        body[class*="metro-pro"] .nav-primary, body[class*="lifestyle-pro"] .nav-secondary {
                position: fixed;
                left: -50%;
                top: 0px;
                height: 100% !important;
                width: 50% !important;
                overflow: hidden;
                z-index: 10000 !important;
                padding-top: 47px;
                transition: all .2s linear 0s;
        }

        body[class*="metro-pro"] .nav-primary.mobileanimate, body[class*="lifestyle-pro"] .nav-secondary.mobileanimate {
                box-shadow: 0px 0px 10px rgba(0,0,0,.9) !important;
                left: 0%;
                transition: all .2s linear 0s;
        }
        body[class*="metro-pro"] .nav-primary li, body[class*="lifestyle-pro"] .nav-secondary li {
                display: block !important;
        }
        body[class*="metro-pro"] .nav-primary li a, body[class*="lifestyle-pro"] .nav-secondary li a {
                font-size: 1.4rem !important;
        }
}


@media only screen and (max-width: 767px) {
	#menu {
                top:5px;
                position: absolute;
                left: 5px;
                display: block;
                background-color: #FFF;
                border-radius: 5px;
                border: 1px solid #DDD;
                font-size: 2.8rem;
		text-decoration: none;
                padding:9px;
                padding-top: 11px;
                z-index: 10;
                height:45px;
                width: 45px;
        }
        #menu.mobileanimate {
                display: none !important;
        }
        #minimenu {
                position: absolute;
                color: #FFF !important;
		font-size: 2.5rem;
		display: block;
		right: 0px;
		top: 0px;
		text-decoration: none;
        }
	body[class*="metro-pro"] #minimenu {
		right: 5px;
		top: 5px;
	}
        .site-container {
		top: 0px !important;
		margin:0px;
		position: absolute !important;
                width: 100%;
        }
        .site-container > * {
                left: 0%;
                transition: all .2s linear 0s;
                position: relative;
        }
        .site-container.mobileanimate > * {
                transition: all .2s linear 0s;
                left: 50%;

        }
	body[class*="metro-pro"] .site-container {
		padding-top: 70px;
	}
        body[class*="metro-pro"] .nav-primary, body[class*="lifestyle-pro"] .nav-secondary {
                position: fixed;
                left: -50%;
                top: 0px;
                height: 100% !important;
                width: 50% !important;
                overflow: hidden;
                z-index: 10000 !important;
                padding-top: 47px;
                transition: all .2s linear 0s;
        }

        body[class*="metro-pro"] .nav-primary.mobileanimate, body[class*="lifestyle-pro"] .nav-secondary.mobileanimate {
                box-shadow: 0px 0px 10px rgba(0,0,0,.9) !important;
                left: 0%;
                transition: all .2s linear 0s;
        }
        body[class*="metro-pro"] .nav-primary li, body[class*="lifestyle-pro"] .nav-secondary li {
                display: block !important;
        }
        body[class*="metro-pro"] .nav-primary li a, body[class*="lifestyle-pro"] .nav-secondary li a {
                font-size: 1.4rem !important;
        }
}
